mixin aside(menu = false)
  aside
    if (menu)
      section.card.mb-20
        h2.card-header.text-14.bg-dark.text-white.py-10.pl-0.d-flex
          span.d-inline-flex.justify-content-center.align-items-center(style="width: 50px; height: 18px;")
            img.mw-100.mh-100(src="images/icon-star-white.png", alt="")
          span.text-uppercase.font-weight-600 DANH MỤC
        .card-body
          each item in ['Giới thiệu','Hướng dẫn mua hàng', 'Tin tức', 'Tin khuyến mại', 'Hệ thống', 'Tuyển dụng']
            a.link-unstyled.d-block.mb-1.mb-last-0(href="#!")
              i.fa.fa-th-large.text-10.mr-12
              span= item
    section.card.mb-20
      h2.card-header.text-14.bg-dark.text-white.py-10.pl-0.d-flex
        span.d-inline-flex.justify-content-center.align-items-center(style="width: 50px; height: 18px;")
          img.mw-100.mh-100(src="images/icon-supporter-white.png", alt="")
        span.text-uppercase.font-weight-600 HỖ TRỢ TRỰC TUYẾN
      .card-body
        ul.list-unstyled.mb-0
          each item in [1,2]
            li.border-bottom.border-last-0.mb-3.pb-3.m-last-0.p-last-0
              .media
                .caret-right.border.border-dark.rounded-circle.mr-3(style="width: 74px")
                  .iwrap-100
                    img.rounded-circle(src="images/support-girl.png", alt="")
                .media-body
                  span Tư vấn: Ms Hiền Anh
                  br
                  span Call: 0932.347.414
                  nav.d-flex.mt-1
                    a.d-block.mr-2(href="#!")
                      img(src="images/icon-gmail.png", alt="", style="height: 25px;")
                    a.d-block.mr-2(href="#!")
                      img(src="images/icon-skype.png", alt="", style="height: 25px;")
                    a.d-block.mr-2(href="#!")
                      img(src="images/icon-facebook-square.png", alt="", style="height: 25px;")
    section.card.mb-20
      h2.card-header.text-14.bg-dark.text-white.py-10.pl-0.d-flex
        span.d-inline-flex.justify-content-center.align-items-center(style="width: 50px; height: 18px;")
          img.mw-100.mh-100(src="images/icon-star-white.png", alt="")
        span.text-uppercase.font-weight-600 Sản phẩm mới
      .card-body
        ul.list-unstyled.mb-0
          each item in [1,2,3,4,5, 6]
            li.mb-20.m-last-0
              a.media.link-unstyled(href="#!", title="")
                .border.iwrap-66.mr-10(style="width: 110px")
                  img(src="images/product-as.png", alt="")
                .media-body
                  h3.text-14.text-uppercase Tai nghe Jabra Elite 65t
                  .text-16.text-danger.font-weight-700 4.390.000
mixin product-aside
  aside
    section.card.mb-20
      h2.card-header.text-14.bg-dark.text-white.py-10.pl-0.d-flex
        span.d-inline-flex.justify-content-center.align-items-center(style="width: 50px; height: 18px;")
          img.mw-100.mh-100(src="images/icon-star-white.png", alt="")
        span.text-uppercase.font-weight-600 DANH MỤC
      .card-body
        each item in ['Tai Nghe In Ear (529)', 'Tai nghe On Ear (170)', 'Tai Nghe Over Ear (249)', 'Tai Nghe Clip On (4)', 'Tai Nghe Custom (20)', 'Tai nghe Ear Bud (81)', 'Tai Nghe Chống Ồn (32)', 'Tai Nghe Bluetooth (271)', 'Tai Nghe DJ (26)', 'Tai Nghe Thể Thao (74)', 'Tai Nghe True Wireless (17)', 'Tai Nghe Chơi Game (25)', 'Tai Nghe Có Mic (275)', 'Tai nghe Universal (14)']
          a.link-unstyled.d-block.mb-1.mb-last-0(href="#!")
            i.fa.fa-th-large.text-10.mr-12
            span= item
    section.card.mb-20
      h2.card-header.text-14.bg-dark.text-white.py-10.pl-0.d-flex
        span.d-inline-flex.justify-content-center.align-items-center(style="width: 50px; height: 18px;")
          img.mw-100.mh-100(src="images/icon-star-white.png", alt="")
        span.text-uppercase.font-weight-600 Thương hiệu
      .card-body
        each item in ["1More (7)", "64 Audio (12)", "AAW (12)", "Acoustune (5)", "ADL (1)", "Akg (23)", "Apple (1)", "Astell & Kern (5)", "Audeze (4)", "Audio-technica (71)", "Auglamour (1)", "Aurisonics (2)", "Aya Audio (1)", "Beats (9)"]
          label.form-check.mb-1.m-last-0
            input.form-check-input(type="checkbox")
            span.form-check-label.ml-2= item
    section.card.mb-20
      h2.card-header.text-14.bg-dark.text-white.py-10.pl-0.d-flex
        span.d-inline-flex.justify-content-center.align-items-center(style="width: 50px; height: 18px;")
          img.mw-100.mh-100(src="images/icon-star-white.png", alt="")
        span.text-uppercase.font-weight-600 Khoảng giá
      .card-body
        each item in ['Từ Dưới 500.000đ', 'Từ 500.000đ - 1.000.000đ', 'Từ 1.000.000đ - 3.000.000đ', 'Từ 3.000.000đ  - 5.000.000đ', 'Từ 5.000.000đ - 10.000.000đ', 'Từ 10.000.000đ  - 20.000.000đ', 'Từ Trên 20.000.000đ']
          label.form-check.mb-1.m-last-0
            input.form-check-input(type="checkbox")
            span.form-check-label.ml-2= item
    section.card.mb-20
      h2.card-header.text-14.bg-dark.text-white.py-10.pl-0.d-flex
        span.d-inline-flex.justify-content-center.align-items-center(style="width: 50px; height: 18px;")
          img.mw-100.mh-100(src="images/icon-star-white.png", alt="")
        span.text-uppercase.font-weight-600 Đặc tính
      .card-body
        each item in ['Chống nước IP54 (1)', 'Chống ồn (9)', 'Volume for android (74)', 'Mic cho iOS (93)', 'Cable tháo rời (46)', 'Mic cho Android (93)', 'Chân cắm chữ L (32)', 'MMCX (9)', 'Chống nước (20)', 'Volume for iOS (73)', 'Cable tháo rời 2 pin (17)', 'Chân cắm chữ I (3)']
          label.form-check.mb-1.m-last-0
            input.form-check-input(type="checkbox")
            span.form-check-label.ml-2= item
